.loginPage {
    height: 100vh;
    width: 100vw;
    // position: fixed;
    // top: 0;
    // left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        color: #000;
        background-color: #FFF;
        padding: 1.5rem 2%;
        border-radius: 1.5rem;
        width: min(25rem, calc(100vw - 5rem));
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h1 {
            margin: 0;
            text-align: center;
        }

        .content {
            position: relative;
            width: min(25rem, calc(95vw - 5rem));
            height: calc(min(25rem, 95vw - 5rem) / 3.5);

            .loading {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0%;
                pointer-events: none;
            }

            .loading::before,
            .loading::after {
                content: "";
                position: absolute;
                left: 5%;
                top: calc(50% - 0.2rem);
                height: 0.4rem;
                width: 90%;
                border-radius: 0.2rem;
                background-color: #CCC;
            }

            .loading::after {
                width: 10%;
                background-color: #000;
                animation: loading 2s ease-out infinite;
            }

            @keyframes loading {
                0% {
                    left: 5%;
                }

                50% {
                    left: 85%;
                }

                100% {
                    left: 5%;
                }
            }

            a {
                display: block;
                height: 100%;
                width: 100%;
                background-color: #5865F2;
                border-radius: 1rem;
                cursor: pointer;
                user-select: none;
                box-shadow: 0.1rem 0.1rem 0.25rem -0.1rem #000;
                transform: translateY(0);
                transition: transform 0.3s, box-shadow 0.3s;

                img {
                    display: block;
                    width: 85%;
                    height: 100%;
                    margin: auto;
                    object-fit: contain;
                }
            }

            a:hover {
                transform: translateY(-0.2rem);
                box-shadow: 0.2rem 0.2rem 0.25rem -0.1rem #000;
            }

            .joinKey {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .inputBox {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    font-size: 1.75rem;

                    input {
                        width: 0;
                        flex: 1;
                        font-size: 1.1em;
                        outline: none;
                        border: none;
                        color: #999;
                        border-bottom: 0.1rem solid #999;
                        font-family: monospace;
                        transition:
                            color 0.3s,
                            border-color 0.3s;
                    }

                    input:focus {
                        color: #000;
                        border-bottom-color: #000;
                    }

                    input::selection {
                        color: #FFF;
                        background-color: #000;
                    }
                }

                .info {
                    color: #888;
                    font-size: 0.8rem;
                    padding-left: 2.625rem;
                    user-select: none;
                }
            }
        }

        .content[data-loading=true] {
            :not(.loading) {
                display: none;
            }

            .loading {
                opacity: 100%;
            }
        }
    }
}