.copyBox {
    position: relative;
    padding: 0.25rem 0.5rem;
    color: var(--color);
    border: 0.05rem solid var(--color);
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    gap: 1.2em;
    user-select: none;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
    background-color: #6662;
    --color: #888;

    .icon {
        width: 1em;
    }

    .icon::before,
    .icon::after {
        position: absolute;
        height: 1em;
        line-height: 1em;
        width: 1em;
        top: calc(50% - 0.5em);
        right: 0.5rem;
        text-align: center;
        transition: transform 0.3s;
        color: var(--color);
    }

    .icon::before {
        content: "content_copy";
        transform: scale(1);
    }

    .icon::after {
        content: "check";
        transform: scale(0);
    }
}

.copyBox::after {
    content: "";
    position: absolute;
    right: 2em;
    height: 100%;
    width: 0.05rem;
    background-color: var(--color);
    transition: background-color 0.3s;
}

.copyBox:hover {
    --color: #FFF;
}

.copyBox[data-success=true] {
    --color: #3A3;

    .icon::before {
        transform: scale(0);
    }

    .icon::after {
        transform: scale(1);
    }
}